html{
    font-size: 13px;
}

.container h1 small{
    font-size: 1.5rem;
}

form .form-group label{
    font-weight: bold;
}

.well{
    background: #e9ecef;
    padding: 3em; 
    border-radius: 0.5em;  
}

p.description{
    font-size: 1.5rem;
    font-weight:bold;
}

li{
    font-weight: 600;
}